.m-publish-namespace-box {
    padding-top: 20px;
}
.m-publish-namespace-header {
    padding: 20px;
    background-color: #f2f6fc;
    margin-bottom: 20px;
    word-spacing: 2px;
    .color(#666);
    a {
        .color(#0366d6);
    }
    b {
        .color(#fba524);
    }
    span {
        margin-right: 5px;
    }
    .u-tip {
        .fz(16px, 2);
        margin-bottom: 10px;
    }
    .u-btn-buy {
        .color(#fff);
        .mr(10px);
    }
    .u-count-txt{
        .mr(20px);
        .mb(10px);
    }
    .u-skip {
        .fz(14px);
        .color(#f00);
    }
}
.m-namspace-tips{
    margin-bottom: 10px;
}
@media screen and (max-width: @phone) {
    .m-publish-namespace-header {
        .u-tip{
            .fz(14px);
        }
        .u-count-txt{
            .db;
        }
    }
}
.m-publish-namespace-form {
    .el-alert {
        padding: 0 10px;
    }
    .u-submit {
        .w(160px);
        .x;
    }
}
